# Ignore Gradle project-specific cache directory
.gradle
.idea
src/resources/
.zip
src/main/java/project/GreetingController.*
src/main/resources/StorageTaskMapping.*
# Ignore Gradle build output directory
build
